<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img
        src="/images/icon.png"
        alt="Musafir Icon"
        style="height: 40px; margin-right: 10px"
      />
      <img src="/images/logo.png" alt="Musafir" style="height: 30px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon">
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 7h22M4 15h22M4 23h22"
            stroke="var(--charcoal-brown)"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">New Campground</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser){%>
        <a class="nav-link me-2" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <%}else{ %>
        <span
          class="nav-link"
          style="color: var(--charcoal-brown); font-weight: 600"
          >👤 <%= currentUser.username %></span
        >
        <a class="nav-link" href="/logout">Logout</a>
        <%} %>
      </div>
    </div>
  </div>
</nav>
