<nav class="navbar sticky-top navbar-expand-lg">
  <div class="navbar-inner">

    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <img src="/images/icon.png" alt="Musafir Icon" class="navbar-icon" />
      <img src="/images/logo.png" alt="Musafir" class="navbar-logo" />
    </a>

    <!-- Mobile toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 6h18M3 12h18M3 18h18" stroke="var(--sage)" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
    </button>

    <!-- Nav links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav navbar-nav--left">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Explore</a>
        <a class="nav-link" href="/campgrounds/new">Add Campground</a>
      </div>

      <div class="navbar-nav navbar-nav--right">
        <% if (!currentUser) { %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link nav-link--register" href="/register">Register</a>
        <% } else { %>
          <span class="navbar-user">
            <span class="navbar-user__avatar"><%= currentUser.username.charAt(0).toUpperCase() %></span>
            <span class="navbar-user__name">@<%= currentUser.username %></span>
          </span>
          <form action="/logout" method="POST" class="navbar-logout">
            <button type="submit" class="nav-link nav-link--logout">Logout</button>
          </form>
        <% } %>
      </div>
    </div>

  </div>
</nav>
